<div class="container">
    <div ng-repeat="recipe in vm.recipes" class="row">
        <div class="col-sm-4">
            <div class="row">
                <img id="photo" class="img-thumbnail" ng-src="images/recipes/{{recipe.meal_title.trim().split(' ').join('_')}}.png" alt="">
            </div>
            <!-- oh god only png -->
            <div class="content">
                <div class="row"><h2>{{recipe.meal_title}}</h2></div>
                <div class="row">
                    <div class="col-sm-3"><h4>SERVES {{recipe.num_servings}}</h4></div>
                    <div class="col-sm-3"><h4>COSTS {{recipe.price_total}}</h4></div>
                </div>
                <div class="row">
                    <h4>Ingredients</h4>
                    <ul>
                        <li ng-repeat="ingredient in recipe.ingredients.split(',')">{{ingredient}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="top-buffer"></div>
            <div class="content">
                <div class="row">
                    <ol>
                        <li ng-repeat="step in vm.customSplit(recipe.instructions)">{{step}}</li>
                    </ol>    
                </div>
            </div>
        </div>
    </div>
</div>
