<div class="ui grid container">
    <div class="centered row">
        <h1 class="ui centered header">Recipes</h1>
        <div class="ui input">
            <form>
                <input id="search" type="text" placeholder="Search..." />
            </form>
        </div>
    </div>
    <div class="centered row">
        <div class="ui divided link items">
            <div class="item" ng-repeat="recipe in vm.recipes" href="/recipe-details/{{recipe.id}}">
                <div class="image">
                    <img ng-src="img/{{recipe.image}}">
                </div>
                <div class="content">
                    <a class="header">{{recipe.name}}</a>
                    <div class="description">
                        <p>
                            {{recipe.description}}
                        </p>
                    </div>
                    <div class="extra">
                        {{recipe.ingredients}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
